.RestaurantCard {
    width: 320px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo_area {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo_area img {
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.content h2{
    font-size: 1.2rem;
}

.content p{
    font-weight: 300;
}